In [1]:
import pandas as pd
import requests

In [2]:
API_TOKEN = "tqz8BHX2O0tyVADTRuvyBaGmLVrZkwcwrhfbRjR9T5ZAQWXovTUeBytl4onZ"
params = {"api_token": API_TOKEN, "include": "statistics.type;events;formations;timeline;lineups.details.type"}

In [3]:
data = requests.get("https://api.sportmonks.com/v3/football/fixtures/19146817", params=params).json()["data"]
match = pd.json_normalize(data)
match.columns

Index(['id', 'sport_id', 'league_id', 'season_id', 'stage_id', 'group_id',
       'aggregate_id', 'round_id', 'state_id', 'venue_id', 'name',
       'starting_at', 'result_info', 'leg', 'details', 'length', 'placeholder',
       'has_odds', 'has_premium_odds', 'starting_at_timestamp', 'statistics',
       'events', 'formations', 'timeline', 'lineups'],
      dtype='object')

In [4]:
statistics = pd.json_normalize(match.statistics[0])

In [5]:
statistics.head(5)

,id,fixture_id,type_id,participant_id,location,data.value,type.id,type.name,type.code,type.developer_name,type.model_type,type.stat_group
0,207022998,19146817,34,273,home,9,34,Corners,corners,CORNERS,statistic,offensive
1,207023003,19146817,84,273,home,2,84,Yellowcards,yellowcards,YELLOWCARDS,statistic,overall
2,207023280,19146817,1605,273,home,33,1605,Successful Dribbles Percentage,successful-dribbles-percentage,SUCCESSFUL_DRIBBLES_PERCENTAGE,statistic,offensive
3,207023287,19146817,1605,246,away,38,1605,Successful Dribbles Percentage,successful-dribbles-percentage,SUCCESSFUL_DRIBBLES_PERCENTAGE,statistic,offensive
4,207023271,19146817,45,273,home,66,45,Ball Possession %,ball-possession,BALL_POSSESSION,statistic,overall