In [1]:
import pandas as pd
import requests

In [2]:
API_TOKEN = "tqz8BHX2O0tyVADTRuvyBaGmLVrZkwcwrhfbRjR9T5ZAQWXovTUeBytl4onZ"
params = {"api_token": API_TOKEN, "include": "lineups.details.type"}

In [3]:
data = requests.get("https://api.sportmonks.com/v3/football/fixtures/19146817", params=params).json()["data"]
match = pd.json_normalize(data)

In [4]:
lineups = pd.json_normalize(match.lineups[0])
len(lineups)

40

In [5]:
lineups.head(5)

,id,sport_id,fixture_id,player_id,team_id,position_id,formation_field,type_id,formation_position,player_name,jersey_number,details
0,14597927439,1,19146817,123690,246,26,None,11,5.0,James Brown,2,"[{'id': 1362633034, 'fixture_id': 19146817, 'p..."
1,14597927412,1,19146817,580993,246,25,None,11,4.0,Ryan David Leak,3,"[{'id': 1362630528, 'fixture_id': 19146817, 'p..."
2,14597927435,1,19146817,9654,246,25,None,11,2.0,Akil Wright,4,"[{'id': 1362630743, 'fixture_id': 19146817, 'p..."
3,14597927126,1,19146817,174741,246,26,None,12,NaN,Scott Allardice,6,"[{'id': 1362737010, 'fixture_id': 19146817, 'p..."
4,14597927130,1,19146817,34422813,246,26,None,12,NaN,Victor Loturi,7,[]