In [1]:
import pandas as pd

In [2]:
events_de = pd.read_pickle("events_de.pkl")

#### Team's formation (Germany)

In [3]:
events_de[events_de['type.id'] == 35]  # Starting XI

Empty DataFrame
Columns: [id, index, period, timestamp, minute, second, possession, duration, type.id, type.name, possession_team.id, possession_team.name, play_pattern.id, play_pattern.name, team.id, team.name, tactics.formation, tactics.lineup, related_events, location, player.id, player.name, position.id, position.name, pass.recipient.id, pass.recipient.name, pass.length, pass.angle, pass.height.id, pass.height.name, pass.end_location, pass.body_part.id, pass.body_part.name, pass.type.id, pass.type.name, carry.end_location, pass.outcome.id, pass.outcome.name, ball_receipt.outcome.id, ball_receipt.outcome.name, under_pressure, duel.type.id, duel.type.name, clearance.aerial_won, clearance.head, clearance.body_part.id, clearance.body_part.name, dribble.nutmeg, dribble.overrun, dribble.outcome.id, dribble.outcome.name, pass.assisted_shot_id, pass.shot_assist, shot.statsbomb_xg, shot.end_location, shot.key_pass_id, shot.technique.id, shot.technique.name, shot.body_part.id, shot.body_part.name, shot.type.id, shot.type.name, shot.outcome.id, shot.outcome.name, shot.freeze_frame, goalkeeper.position.id, goalkeeper.position.name, goalkeeper.body_part.id, goalkeeper.body_part.name, goalkeeper.type.id, goalkeeper.type.name, goalkeeper.outcome.id, goalkeeper.outcome.name, goalkeeper.technique.id, goalkeeper.technique.name, pass.switch, pass.outswinging, pass.technique.id, pass.technique.name, counterpress, interception.outcome.id, interception.outcome.name, off_camera, ball_recovery.recovery_failure, pass.through_ball, clearance.right_foot, out, shot.first_time, goalkeeper.end_location, pass.cross, shot.one_on_one, duel.outcome.id, duel.outcome.name, pass.goal_assist, pass.aerial_won, clearance.left_foot, foul_won.defensive, injury_stoppage.in_chain, pass.deflected, pass.cut_back, ...]
Index: []

[0 rows x 116 columns]

In [4]:
tactical_shift = events_de[events_de['type.id'] == 36]  # Tactical Shift
tactical_shift[["type.name", "tactics.formation", "tactics.lineup"]]

,type.name,tactics.formation,tactics.lineup
2384,Tactical Shift,442.0,"[{'player': {'id': 5570, 'name': 'Manuel Neuer..."
2757,Tactical Shift,352.0,"[{'player': {'id': 5570, 'name': 'Manuel Neuer..."
3492,Tactical Shift,343.0,"[{'player': {'id': 5597, 'name': 'Keylor Navas..."

In [5]:
tactical_shift["tactics.lineup"].head(1).tolist()[0][0:3]

[{'player': {'id': 5570, 'name': 'Manuel Neuer'},
  'position': {'id': 1, 'name': 'Goalkeeper'},
  'jersey_number': 1},
 {'player': {'id': 8507, 'name': 'Lukas Klostermann'},
  'position': {'id': 2, 'name': 'Right Back'},
  'jersey_number': 16},
 {'player': {'id': 6322, 'name': 'Niklas Süle'},
  'position': {'id': 3, 'name': 'Right Center Back'},
  'jersey_number': 15}]