In [1]:
import pandas as pd
import requests

#### Costa Rica 2:4 Germany

In [2]:
match_id = 3857292

In [3]:
url = f"https://raw.githubusercontent.com/statsbomb/open-data/refs/heads/master/data/events/{match_id}.json"
data = requests.get(url).json()
events = pd.json_normalize(data)

In [4]:
len(events)

3869

In [5]:
events.head(3)

,id,index,period,timestamp,minute,second,possession,duration,type.id,type.name,...,substitution.outcome.name,substitution.replacement.id,substitution.replacement.name,foul_committed.card.id,foul_committed.card.name,foul_committed.advantage,foul_won.advantage,50_50.outcome.id,50_50.outcome.name,shot.deflected
0,2194e9dd-089b-44f8-a5c7-60436a00f0f9,1,1,00:00:00.000,0,0,1,0.0,35,Starting XI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1247d52e-3c53-4106-bcf9-36c14a0c352d,2,1,00:00:00.000,0,0,1,0.0,35,Starting XI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ba53280-4efe-4482-b727-1328f6654d2a,3,1,00:00:00.000,0,0,1,0.0,18,Half Start,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
events.to_pickle("events.pkl")